$base-color: #f8c3af;

body{
    font-feature-settings: "palt";
}


.header{
    height: 5em;
    
    background-color: #fea5ad;

    a{
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 2.5em;
        transition: color .5s;

        &:hover{
            color: darken($color: white, $amount: 10%)
        }
    }
}

article {
    position: relative;
}

@media screen and (min-width: 1281px){
    #question{
        height: calc(1280*0.35px + 10vw);
        & .lead{

            top: 3vw;
            left: 8vw;

            & p{
                margin-bottom: 19px;
                font-size: 100px;
            }
        }
    }


}

@media print, screen and (min-width: 600px){
    #question{
        height: calc(1280*0.35px + 10vw);
        & .lead{

            top: 3vw;
            left: 8vw;

            & p{
                margin-bottom: 2px;
                font-size: 100px;
            }

            figure{
                top: 1.2vw;
                left: 55vw;

                width: 25vw;
            }

        }
    }

    #discription{
        height: calc(1280*0.35px + 10vw);
        .lead{
            top: 14vw;
            left: 40vw;

            h2{
                top: -8vw;
                left: -5vw;
                font-size: 90px;
            }

            div{
                p{
                    margin-bottom: 5px;
                    font-size: 1.8vw;
                }
            }

            figure{
                top: -8vw;
                left: -35vw;

                width: 25vw;
            }
        }
    }
}

@media print, screen and (max-width: 599px){
}

#question{
    background-color: $base-color;
    .lead{
        position: absolute;
        z-index: 100;

        p{
            position: relative;
            display: inline-block;
            color: #fff;
            font-weight: 900;
            white-space: nowrap;
            letter-spacing: 0.08em;
        }
        
        figure{
            position: absolute;
        }
    }
}

#discription{
    background-color: white;
    .lead{
        position: absolute;
        z-index: 100;

        h2{
            position: absolute;
            z-index: 0;
            color: lighten($color: $base-color, $amount: 12%);
        }

        div{
            position: relative;

            p{
                position: relative;
                display: inline-block;
                color: #f8c3af;
                font-weight: 900;
                white-space: nowrap;
                letter-spacing: 0.08em;
            }
        }

        figure{
            position: absolute;
        }

        
    }
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

h2 {
    font-weight: bold;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}

img{
    width: 100%;
    z-index: 11;
}