{{ define "content" }}
<article id="question">
    <section class="lead">
        <p class="line1">さいきん、</p>
        <br>
        <p class="line2">おいしいの、</p>
        <br>
        <p class="line3">たべてますか？</p>
        <br>
        <figure id="donut">
            <img src="/top/image/donut.png" alt="spinning donut">
        </figure>
    </section>
</article>
<article id="discription">
    <section class="lead">
        <h2>これはなに？</h2>
        <div class="text">
            <p>忙しすぎる毎日………</p>
            <p>食べること結構おろそかにしがちですよね？</p>
            <p>危ないですよ…おいしさ感じないと精神衛生上良くないです。</p>
            <p>なので教えてあげます、僕の好物を。参考にしてください。</p>
        </div>
        <figure id="rice-cake">
            <img src="/top/image/rice-cake.png" alt="rice cake">
        </figure>
    </section>
</article>
{{end}}